.cart {
  display: flex;
  flex-direction: column;
}

.cart-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-cart,
.right-cart {
  flex: 1;
  padding: 20px;
}

.left-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.left-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
}

.left-quantity span,
.left-quantity button {
  font-size: 1.2rem;
}

.right-cart {
  flex-direction: row;
  align-items: flex-start;
  background-color: #fff;
}

.right-cart h2 {
  margin-bottom: 10px;
}

.right-cart .last {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.cart-summary1 {
  padding: 10px 20px;
  font-size: 1.2rem;
  margin-top: 20px;
  background-color: #0b0c0c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsive Styles */
@media (min-width: 768px) {
  .left-cart {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
  .right-cart {
    padding: 40px;
    display: flex;
    flex-direction: column;
  }

  .right-cart {
    margin-left: 20px;
  }
}

@media (max-width: 767px) {
  .left-cart,
  .right-cart {
    width: 100%;
  }

  .right-cart .last {
    flex-direction: column;
  }
}
