.bottom-content {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  gap: 0.5rem;
}
.grid-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  margin-top: 1rem;
}

.products {
  background-color: white;
  border: 1px solid #ddd;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.first-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffff;
  padding: 30px;
}
.rule {
  width: 90%;
  opacity: 0.5;
}
.image {
  object-fit: cover;
}
.bottom-title {
  display: flex;
  justify-content: space-between;
}

.products:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1024px) {
  .grid-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .grid-content {
    grid-template-columns: 1fr;
  }
  .img {
    object-fit: cover;
  }

  .first-item {
    padding: 20px;
  }

  .bottom-content {
    padding: 0 10px;
  }
}
